/* CSS style for Error message box */
.alert-message {
  width:80%;
  height: 50px;
  margin: 10px auto;
  border-radius: 10px;
  border: 5px solid rgba(249, 74, 41, 0.8);
  text-align: center;
  color: rgba(249, 74, 41, 0.8);
  span {
    width: 25%;
  }}

