/* New tweet form CSS styles */

$primary-color: rgb(170, 227, 226);
$logo-font: Bungee;
$icon-color: rgb(202, 152, 36);

.new-tweet {
  width: 80%;
  margin: 35px auto;
  height: 300px;
  display: flex;
  align-items: center;

}

.newTweet-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  textarea:focus {
    outline: none;
  }
}


#newTweet-text {
  height: 3em;
  border: 0ex;
  border-bottom: 5px solid rgb(85, 81, 74);
  font-size: 16px;
  font-size: max(16px, 1em);
  color: rgb(85, 81, 74);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #f4f1ec;
  resize: none;
  overflow: auto;

}

.newTweet-tooLong {
  color: red
}


.newTweet-Submit {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-family: $logo-font;
  button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 18px;
  background: $primary-color;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  &:hover {
  background: #3cb0fd;
  text-decoration: none;
}
}
}

