/* Tweet containers CSS styles */


.tweet-container {
  width: 80%;
  margin: 15px auto;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid rgb(85, 81, 74);
}

.tweet-container:hover {
  box-shadow: 10px 10px 8px -10px rgba(0, 0, 0, 0.8);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.tweet-header {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 10px
}

.tweet-avatar {
  display: flex;
  align-items: center;
}

.tweet-avatar span>img {
  height: 2em;
  margin: auto 25px;
}

.tweet-acountName {
  margin: auto 25px;
  color: rgb(209, 212, 230)
}

.tweet-body {
  height: 120px;
  width: 95%;
  border-bottom: 5px solid rgb(85, 81, 74);
  margin: 5px auto;
}
.tweet-body div {
  width: 95%;
  margin: 5px auto;
}

.tweet-footer {
  display: flex;
  height: 80px;
  width: 85%;
  margin: 5px auto;
  justify-content: space-between;
  align-items: center;
}

.tweet-icons i {
  margin: 2px 8px;
}

.tweet-icons i:hover {
  color: rgb(202, 152, 36);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Prepare for tweet showup animate */
.none {
  display: none;
}


/*     &:not(:last-of-type()) {
  margin
}
*/
